:root {
  --main-color: #ff5323;
  --secondary-color: #a8a0a0;
  --light-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --border-color: #e0e0e0;
  --border-radius: 5px;
  --transition: 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.container {
  max-width: 100% !important;
}

/* hero Section */
.hero-section {
  position: relative;
  /* height: calc(100vh - 5rem); */
  background-image: url("../images/backgrounds/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.image-wrpper {
  margin: 7px;
  position: relative;
}
.image-wrpper::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100px;
  height: 100px;
  background-image: url("../images/svg/image-border-top.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.image-wrpper::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 100px;
  height: 100px;
  background-image: url("../images/svg/image-border-bottom.svg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.hero-section .swiper-pagination-bullet {
  background: var(--secondary-color);
  width: 20px;
  height: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 1.5px;
}
.hero-section .swiper-pagination-bullet-active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 768px) {
  .hero-section {
    height: auto;
  }
}

/* Trust */

/* Comparison  */
.comparison ul li {
  position: relative;
}
.comparison ul li::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>');
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
}

/* leads */
.leads {
  background-image: url("../images/backgrounds/leads-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* testi */
/* .testimonials-swiper .swiper-button-next,
.testimonials-swiper .swiper-button-prev {
  top: unset;
  bottom: -10% !important;
  left: 50%;
  transform: translateX(-50%);
} */
.swiper-navigation {
  position: absolute;
  width: auto;
  left: 50% !important;
  transform: translateX(-50%);
  bottom: 10px;
}
.swiper-button-next,
.swiper-button-prev {
  color: black;
  width: 30px;
  height: 30px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}
.swiper-button-next {
  right: unset;
  left: 55px;
}
.swiper-button-prev {
  left: unset;
  right: 55px;
}

.swiper-scrollbar {
  background-color: #ddd;
  width: 100px !important;
  height: 8px;
  left: 50% !important;
  transform: translateX(-50%);
}

.slider-counter {
  font-size: 14px;
  color: #333;
}
